{{set . "title" "Calendar"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      {{template "flash.html" .}}
    </div>
  </div>
  <h2 class="display-data">
    
  </h2>
</div>

{{template "footer.html" .}}
