{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      {{template "flash.html" .}}
    </div>
  </div>
  <h2 class="display-data">
    <a href="/auth/login">Login with Facebook <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
  </h2>
</div>

{{template "footer.html" .}}
