  {{if eq .RunMode "dev"}}
    {{template "debug.html" .}}
  {{end}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript"></script>
    {{end}}
  </body>
</html>
